<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CineApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Candy Bar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="pelicula-principal2" class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="contenedor" >
                <h3 class="titulo">&emsp;¡Febrero es el mes del cine!</h3>
                <p class="descripcion">
                    &emsp;&emsp;&emsp;&emsp; Desde clásicos que te harán recordar, hasta distopías que te harán cuestionar todo. Ciencia ficción, dramas y películas de culto completan la aventura. ¿Estás listo para descubrir qué universo esconde tu próxima película favorita?"
                </p>

            </div>
        </div>
    <main>


        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                      <h3>&emsp;Clásicos del Cine (Antes de 1990) &emsp; &emsp; Del 2 al 9 de febrero</h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal">
                <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">
                                <img src="../static/images/10.jpg" alt="Pelicula 10" data-id="10" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/12.jpg" alt="Pelicula 12" data-id="12" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/33.jpg" alt="Pelicula 33" data-id="33" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/35.jpg" alt="Pelicula 35" data-id="35" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/38.jpg" alt="Pelicula 38" data-id="38" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/42.jpg" alt="Pelicula 42" data-id="42" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/39.jpg" alt="Pelicula 39" data-id="39" class="pelicula-img">
                        </div>
                    </div>
                </div>
                
                <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>

        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                      <h3>&emsp; Cine Moderno (1990 - 2010) &emsp; &emsp; Del 10 al 16 de febrero   </h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal"id="contenedor-carousel-2">
                <button role="button" id="flecha-izquierda-2" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">
                                <img src="../static/images/11.jpg" alt="Pelicula 11" data-id="11" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/13.jpg" alt="Pelicula 13" data-id="13" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/14.jpg" alt="Pelicula 14" data-id="14" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/15.jpg" alt="Pelicula 15" data-id="15" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/16.jpg" alt="Pelicula 16" data-id="16" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/19.jpg" alt="Pelicula 19" data-id="19" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/31.jpg" alt="Pelicula 31" data-id="31" class="pelicula-img">
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#modalCompra">Comprar Boletos</button>
                </div>
                <button role="button" id="flecha-derecha-2" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>            </div>
        </div>

        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                      <h3>&emsp; Ciencia Ficción y Distopías &emsp; &emsp; Del 17 al 23 de febrero </h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal"id="contenedor-carousel-2">
                <button role="button" id="flecha-izquierda-2" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">
                                <img src="https://www.originalfilmart.com/cdn/shop/products/interstellar_2014_advance_original_film_art_682852f2-23f6-46de-a1db-4029d5b6f0b4_5000x.jpg?v=1574284010" alt="Pelicula 15" data-id="15" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="https://m.media-amazon.com/images/I/719Po3Wco0L._AC_UF894,1000_QL80_.jpg" alt="Pelicula 16" data-id="16" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="https://lh4.googleusercontent.com/proxy/UdJYcWXf-SP3NfAJzl969FWbwC_yfKkcx-dzrT7Nia_4g6BckpL0jY0ymAcmA1bVNQpj8KqrgMPRG_FR0kriYyAozD6ixfV_u_MleA" alt="Pelicula 17" data-id="17" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/17.jpg" alt="Pelicula 17" data-id="17" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/18.jpg" alt="Pelicula 18" data-id="18" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/22.jpg" alt="Pelicula 22" data-id="22" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/36.jpg" alt="Pelicula 36" data-id="36" class="pelicula-img">
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#modalCompra">Comprar Boletos</button>
                </div>
                <button role="button" id="flecha-derecha-2" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>            </div>
        </div>

        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                      <h3>&emsp; Dramas y Películas de Culto &emsp; &emsp; Del 24 al 28 de febrero </h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal"id="contenedor-carousel-2">
                <button role="button" id="flecha-izquierda-2" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">
                                <img src="https://m.media-amazon.com/images/S/pv-target-images/a2681be0e6f5ea318048215a88cc23db7e84ea52bc046798e64a28aaea2ffd64.jpg" alt="Pelicula 22" data-id="22" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/9.jpeg" alt="Pelicula 9" data-id="9" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/24.jpg" alt="Pelicula 24" data-id="24" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/25.jpg" alt="Pelicula 25" data-id="25" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/26.jpg" alt="Pelicula 26" data-id="26" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/27.jpg" alt="Pelicula 27" data-id="27" class="pelicula-img">
                        </div>
                        <div class="pelicula">
                                <img src="../static/images/34.jpg" alt="Pelicula 34" data-id="34" class="pelicula-img">
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#modalCompra">Comprar Boletos</button>
                </div>
                <button role="button" id="flecha-derecha-2" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>            </div>
        </div>

    </main>

    <!-- Modal Bootstrap -->
<!-- Modal Bootstrap -->
<!-- Modal Bootstrap -->
<!-- Modal Bootstrap -->
<!-- Modal Bootstrap -->
<div class="modal fade custom-modal" id="modalPelicula" tabindex="-1" aria-labelledby="modalTitulo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Encabezado del modal con fondo negro y texto blanco -->
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modalTitulo"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body d-flex align-items-start">
                <!-- Imagen a la izquierda -->
                <div class="modal-image w-50 pe-3">
                    <img id="modalImg" class="img-fluid rounded" alt="Imagen de la película">
                </div>
                <!-- Texto a la derecha -->
                <div class="modal-text w-50 ps-3">
                    <p id="modalDescripcion"></p>
                    <p id="modalGenero"></p>
                    <p id="modalDuracion"></p>
                    <button id="btnVerSesiones" class="btn btn-primary mt-3">Ver sesiones</button>

                    <div id="modalSesiones" class="mt-3" style="display: none;">
                        <h5>Sesiones:</h5>
                        <ul id="sesionesList"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

    
  
  <div class="modal fade" id="modalCompra" tabindex="-1" aria-labelledby="modalCompraLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCompraLabel">Comprar Boletos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formCompra">
            <div class="mb-3">
              <label for="selectPelicula" class="form-label">Película:</label>
              <select id="selectPelicula" class="form-select"></select>
            </div>
            <div class="mb-3">
              <label for="selectSesion" class="form-label">Sesión:</label>
              <select id="selectSesion" class="form-select"></select>
            </div>
            <div class="mb-3">
              <h5>Butacas:</h5>
              <div id="butacasContainer"></div>
            </div>
            <div class="mb-3">
              <label for="cantidadEntradas" class="form-label">Cantidad:</label>
              <input type="number" id="cantidadEntradas" class="form-control" min="1" disabled>
            </div>
            <div class="mb-3">
              <label for="precioTotal" class="form-label">Precio Total:</label>
              <input type="text" id="precioTotal" class="form-control" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Confirmar Compra</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const peliculaImgs = document.querySelectorAll('.pelicula-img');
        
        peliculaImgs.forEach(img => {
            img.addEventListener('click', function() {
                const idPelicula = img.getAttribute('data-id');
                
                fetch(`/pelicula/${idPelicula}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('modalTitulo').innerText = data.Titulo;
                        document.getElementById('modalImg').src = data.Cartel;
                        document.getElementById('modalDescripcion').innerText = data.Sinopsis;
                        document.getElementById('modalGenero').innerText = `Género: ${data.Genero}`;
                        document.getElementById('modalDuracion').innerText = `Duración: ${data.Duracion} minutos`;
                        
                        // Mostrar el modal
                        const modal = new bootstrap.Modal(document.getElementById('modalPelicula'));
                        modal.show();

                        // Mostrar el botón para ver sesiones
                        const btnVerSesiones = document.getElementById('btnVerSesiones');
                        btnVerSesiones.onclick = function() {
                            fetch(`/sesiones/${idPelicula}`)
                                .then(response => response.json())
                                .then(sesiones => {
                                    const sesionesList = document.getElementById('sesionesList');
                                    sesionesList.innerHTML = ''; // Limpiar sesiones previas
                                    sesiones.forEach(sesion => {
                                        const li = document.createElement('li');
                                        li.innerText = `Fecha: ${sesion.Fecha}, Hora: ${sesion.Hora}, Idioma: ${sesion.Idioma}`;
                                        sesionesList.appendChild(li);
                                    });
                                    // Mostrar las sesiones
                                    document.getElementById('modalSesiones').style.display = 'block';
                                })
                                .catch(error => {
                                    console.error('Error al obtener las sesiones:', error);
                                });
                        };
                    })
                    .catch(error => {
                        console.error('Error al obtener los datos:', error);
                    });
            });
        });
    });
</script>

    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>

    <footer class="bg-dark text-white text-center py-3">
        <p>© 2025 CineApp. Todos los derechos reservados.</p>
        <div>
            <a href="#" class="text-white mx-2">Facebook</a>
            <a href="#" class="text-white mx-2">Twitter</a>
            <a href="#" class="text-white mx-2">Instagram</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
